/* Home.css */

.page {
    background-image: url('./images/Nazir.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column; 
}

.home {
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 100px 0; 
    flex: 1; 
    height: 80vh; 
}

.content-container {
    text-align: center;
    color: white;
    padding: 25px;
    margin: 0 auto; 
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(81, 29, 29, 0.5);
    max-width: 480px; 
    margin-left: 150px;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
